* {
    margin: 0;
    padding: 0;
   }
body {
    background-image: url(../img/background.jpg);
}
header nav {
    background: rgba(0, 0, 0, 0.4);
    position: relative;
}
header ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
header a {
    text-decoration: none;
    display: block;
    line-height: 70px;
    padding: 0 30px;
    font-size: 18px;
    letter-spacing: 2px;
    font-family: 'Times New Roman';
    font-weight: bold;
    color: white;
    transition: .3s linear;
}
header a:hover {background: rgba(145, 145, 145, 0.3);}
header li {
    display: inline-block;
    float: none;
}
header {
    text-align: center;
    
}

