
body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

ul, li {
    display: block;
    margin: 0;
}
.header {
    background: url(../img/background.jpg) no-repeat center top / cover;
    padding-top: 31px;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

header a {
    color: white;
}

.menu {
    display: flex;
}

.menu li a {
    text-decoration: none;
    font-size: 27px;
}

.menu li {
    margin-right: 53px;
}

header ul {
    align-items: center;
}

.nav {
    margin-left: 187.5px;
}

.offer {
    color: white;
    margin-top: 428px;
    padding-bottom: 341px;
    width: 487px;
    height: 242px;
}

.offer h1 {
    font-size: 43px;
    margin-left: -4px;
}
.offer p {
    font-size: 23px;
}